
:root{
    --cor00:#D099D4;
    --cor001:#FCD1FF;
    --cor002:#845487;
    --cor003:#628746;
    --cor004:#B2D498;
    --cor005:rgb(116, 114, 114);
}

* {
    margin: 0px;
    padding: 0px;
}

header, body{
    width: 100vw;
}

/*-------- HEADER LOGOTIPO ----------*/

header{
    display: block;
    background-color: var(--cor001);
}

#image{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

/*-------- HEADER MENU ----------*/

.material-symbols-outlined{
    color: var(--cor005);
    margin-left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    text-shadow: 1px .5px rgba(0, 0, 0, 0.308) ;
    font-size: 1.5em;
}

#menu{
    display: none;
}


ul > li{
    text-align: center; 
    color:var(--cor005);
}

ul > li > a{
    text-decoration: none;
    color: var(--cor005);
}




/*
border: 3px solid #73AD21;
*/